@import "tailwindcss";

@layer utilities {
  .gradient-bg {
    background: linear-gradient(135deg, #ff4e50 0%, #f9d423 100%);
  }

  .animate-floating {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
.description-scroll {
  scrollbar-width: thin; /* Cho Firefox */
  scroll-behavior: smooth;
  scrollbar-color: #a0aec0 #edf2f7; /* Màu thumb và track */
}

.description-scroll::-webkit-scrollbar {
  width: 8px; /* Độ rộng scrollbar */
}

.description-scroll::-webkit-scrollbar-track {
  background: #edf2f7; /* Màu nền của track */
  border-radius: 8px; /* Bo tròn track */
}

.description-scroll::-webkit-scrollbar-thumb {
  background-color: #a0aec0; /* Màu của thumb */
  border-radius: 8px; /* Bo tròn thumb */
  border: 2px solid #edf2f7; /* Tạo khoảng cách giữa thumb và track */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}